{% extends 'base.html' %}
{% load static %}
{% block title %}How Can I Help You?{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">How Can I Help You?</h1>
            <p class="lead mb-5">Do you need a website or a custom application? Please log in to let me know your requirements.</p>
            {% if user.is_authenticated %}
                <a href="{% url 'client_intake_form' %}?next={{ request.GET.next }}" class="btn btn-primary btn-lg">Go to Client Intake Form</a>
            {% else %}
                <a href="{% url 'account_login' %}?next={% url 'help_page' %}?next={{ request.GET.next }}" class="btn btn-secondary btn-lg">Log In</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
