{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Purchase History</h1>

{% if purchases %}
<ul>
    {% for purchase in purchases %}
    <li>
        <strong><a href="{% url 'product_detail' slug=purchase.product.slug %}">
            {{ purchase.product.title }}</a>
        </strong> | £{{ purchase.price_paid }}
        <p>{{ purchase.product.content|truncatewords:20|safe }}</p> <!-- Show a preview of the content -->
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You have not made any purchases yet. Visit our <a href="{% url 'product_list' %}">store</a>!</p>
{% endif %}

{% endblock content %}
